.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
/* First Section */

.section1{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

/* Logo and text  */
.logoText{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rocalogo{
    width: 119px;
    height: 63px;
}
.aboutme01{
    width: 227px;
    height: 221px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 158px;
    font-weight: bolder;
    position: relative;
    color: rgba(0, 0, 0, 0.194);
}
.abme{
    font-size: 43px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #373737;
}
.nameSocials{
    width: 425px;
}
.hi{
    font-size: 49px;
    
}
.namesurname{
    font-size: 71px;
    font-weight: bold;
}

.prof{
    font-size: 23px;
}
.mySocials img{
    width: 40px;
}
.mySocials{
    margin-top: 20px;
}
.div1s3{
    margin-top: 181px;
    display: flex;
    justify-content: right;
    width: 90%;
    
}
.div1s2{
    margin-top: 150px;
    width: 77%;
    display: flex;
    justify-content: right;
}
.satisfied{
    margin-bottom: 156px;
}
@media (max-width:1527px) {
    .div1s2{
        width: 95%;
    }
    .section1{
        
        background-size: 80%;
        background-position-y:center ;
        background-color: #e2e2de ;
    }
}
@media (max-width:855px) {
    .div1s2{
        width: 100%;
        justify-content: center;
    }
    #section1{
        
        background-size: 80%;
        background-position-y:center ;
        background-color: #e2e2de ;
        background-image: none;
        
    }
}

/* Second Section */
.section2{
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.div2s1{
 width: 334px;
 height: 500px;
 
}
.div2s2{
    width: 430px;
    height: 603px;
    
    margin-left: 40px;
    margin-right: 40px;
}
.div2s3{
    width: 334px;
    height: 500px;
    
}
.louie{
    width: 100%;
}
.lukaK{
    width: 100%;
    text-align: right;
    font-size: 2.5em;
    font-weight: bold;
}
.yellow{
    width: 100%;
    text-align: right;
    color:#DAAE19;
    font-size: 1.25em;
}
.lorem1{
    width: 100%;
    font-size: 1em;
    color: #555555;
    text-align: right;
    margin-top: 40px;
}
.hireMe{
    width: 40%;
    height: 10%;
    margin-top: 100px;
    margin-left: 60%;
    background-color: #E93656;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.percText{
    font-size: 2vw;
    font-weight: bold;
}
span{
    color: #E93656;
}
.div2s3 div{
    width: 100%;
    height: 10px;
    
    margin-top: 20px;
}

.pinkdiv1,.pinkdiv2,.pinkdiv3,.pinkdiv4{
    width: 0%;
    height: 100%;
    background-color: #E93656;
    
}
.pinkdiv11{
    animation: fill1 1.5s linear;
    animation-fill-mode: forwards;
}
.pinkdiv22{
    animation: fill2 1.5s linear;
    animation-fill-mode: forwards;
}
.pinkdiv33{
    animation: fill3 1.5s linear;
    animation-fill-mode: forwards;
}
.pinkdiv44{
    animation: fill4 1.5s linear;
    animation-fill-mode: forwards;
}
.percText1{
    font-size: 2vw;
    font-weight: bold;
    margin-top: 30px;
}
@keyframes fill1 {
    0% {
        width: 0%;
    }
    25% {
        width: 16%;
    }
    50% {
        width: 30%;
    }
    75% {
        width: 50%;
    }
    100% {
        width: 70%;
    }
}
@keyframes fill2 {
    0% {
        width: 0%;
    }
    25% {
        width: 10%;
    }
    50% {
        width: 20%;
    }
    75% {
        width: 30%;
    }
    100% {
        width: 40%;
    }
}
@keyframes fill3 {
    0% {
        width: 0%;
    }
    25% {
        width: 16%;
    }
    50% {
        width: 30%;
    }
    75% {
        width: 50%;
    }
    100% {
        width: 70%;
    }
}
@keyframes fill4 {
    0% {
        width: 0%;
    }
    25% {
        width: 6%;
    }
    50% {
        width: 12%;
    }
    75% {
        width: 16%;
    }
    100% {
        width: 20%;
    }
}


@media (max-width:1251px) {
    .div2s1{
        width: 25%;
        
       }
    .div2s2{
        width: 30%;
    }
    .div2s3{
        width: 25%;
    }
}


#soccdivs{
    display: flex;
    width: 220px;
    height: 60px;
    align-items: center;

}
.smallimg1{
    width: 40px;
    height: 40px;
    margin: 0;
}
#hoverblue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    margin: 10px;
    background-color: rgba(187, 232, 193, 0.353);
    border-radius: 50%;
    
    
}
#hoverblue:hover{
    background-color: rgba(0, 0, 255, 0.353);
    border-radius: 50%;
    
}

/* Third Section */
.section3{
    height: 210px;
    background-color: #131A36;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address{
    margin-left: 100px;
    margin-right: 100px;
}
.section3 div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.info{
    color: white;
    margin-left: 20px;
    
}

.imgdiv{
    width: 50px;
    height: 50px;
    padding: 15px;
    border: #e2e2de 2px dashed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infodiv:hover div{
    background-color: #E93656;
}
.infodiv:hover p{
    color: #E93656;
}

/* Fourth Section */
.box{
    width: 1170px;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 200px;
    
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Fifth Section */
.section5{
    background-image: url('/imagesBox/Rectangle\ 13\ copy.png');
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5div1{
    display: flex;
    width: 935px;
    height: 170px;
    align-items: center;
    justify-content:space-between;
}
.sec5div2{
    display: none;
    width: 935px;
    height: 170px;
    align-items: center;
    justify-content:space-between;
}
.sec5div3{
    display: none;
    width: 935px;
    height: 170px;
    align-items: center;
    justify-content:space-between;
}
.smallred{
    margin-top: 10px;
    color: #E93656;
    font-size: 1vw;
}
.saxeli12{
    margin-top: 5px;
    color: white;
    font-size: 1.5vw;
}
.recomendation{
    width: 60%;
    color: white;
}
.lastpart{
    width: 240px;
    margin-left: 20px;
}
.circle{
    width: 130px;
    height: 130px;
    border: 2px dashed white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.sec5div5{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.sec5div5 button{
    margin: 10px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
.but1:hover{
 background-color: #E93656;
}
.but2:hover{
    background-color: #E93656;
}
.but3:hover{
    background-color: #E93656;
}
.pink{
    background-color: #E93656;
}

/* Sixth Section */
.section6{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #15263E;
    width: 15%;
    height: 400px;
    
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
li{
 font-size: 1.5vw;
 margin: 13px;
 color: white;
}
li:hover{
    color: #E93656;
    cursor: pointer;
}
.content{
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    
}
.photosdiv{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    height: 700px;
    
}
.t1{
    width: 33%;
    height: 50%;
}
.t2{
    width: 33%;
    height: 50%;
}
.t3{
    width: 33%;
    height: 50%;
}
.t4{
    width: 33%;
    height: 50%;
}
.t5{
    width: 33%;
    height: 50%;
}
.t6{
    width: 33%;
    height: 50%;
}
.epic1{
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.epic2{
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.epic3{
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.epic4{
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.epic5{
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.epic6{
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.ago{
    font-size: 1vw;
    margin-top: 10px;
}
.li11{
    font-size: 2vw;
    margin-top: 30px;
}
.epic11{
    display: none;
    background-color: #373737;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.epic22{
    display: none;
    background-color: #373737;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.epic33{
    display: none;
    background-color: #373737;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.epic44{
    display: none;
    background-color: #373737;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.epic55{
    display: none;
    background-color: #373737;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.epic66{
    display: none;
    background-color: #373737;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.pink1{
    color: #E93656;
}
.t1:hover .epic1{
    display: none;
}
.t1:hover .epic11{
    display: flex;
    
}
.t2:hover .epic2{
    display: none;
}
.t2:hover .epic22{
    display: flex;
    
}
.t3:hover .epic3{
    display: none;
}
.t3:hover .epic33{
    display: flex;
    
}
.t4:hover .epic4{
    display: none;
}
.t4:hover .epic44{
    display: flex;
    
}
.t5:hover .epic5{
    display: none;
}
.t5:hover .epic55{
    display: flex;
    
}
.t6:hover .epic6{
    display: none;
}
.t6:hover .epic66{
    display: flex;
    
}
